$primary: #834934;
$white: #ffffff;
$black: #000000;

//white
$textWhite: $white;
$WhiteSmoke: #f6f6f6;
//Green
$greenG300: #158115;
$greenG200: #155724;
$greenG100: #43b75d;
$greenG90: #28a745;
$greenG50: #d0f4ce;
$greenG25: #ecffeb;
$greenG150: #3b8062;
$greenG75: #7ebd93;

//Gray
$greyG100: #747474;
$grey150: #757575;
$greyG300: #242424;
$greyG200: #515151;
$greyG350: #3f3f3f;
$greyG75: #cacaca;
$greyG50: #f2f2f2;
$greyG25: #e2e2e2;
$greyG10: #f6f6f6;
$pastelGrey: #ccc;
$darkCharcoal: #2e2e30; 

//Silver
$silver: #c5c9c7;
$sonicSilver: #787878;

//Orange
$orangeO300: #db3a12;
$orangeO200: #dc3545;
$orangeO150: #e37b3a;
$orangeO100: #af5801;
$orangeO50: #fef5e6;
$orangeO350: #981b00;
$orangeO320: #b13010;
$orangO200: #dd5700;

//Red
$redR300: #d20400;
$redR50: #ffe1e1;
$linen: #feebeb;

//Blue
$blueB300: #0075c3;
$blueB100: #8eceff;
$blueB50: #eff8ff;
$blueB350: #184d9c;
$blueB200: #0080ff;
$blueB150: #089bcb;
$blueB090: #5996b9;
$blueB075: #e3f5ff;
$blueB025: #d9ecff;
$yankeesBlue: #1e1b39;

//Brown
$brownB300: #834934;
$brownB100: #fcf4f1;
$brownB55: #ffecd1;
$brownB50: #f3edeb;

//Brand Color
$primaryDark: #78290f;
$primaryLight: $brownB55;

$shadow: rgba(0, 0, 0, 0.1);
$greyG75: #cacaca;
$overlay-bg: rgba(0, 0, 0, 0.5);
$blanchedAlmond: #ffecd1;
$bg-2: #fff7e6;

//Border
$border: #f2f2f2;
$hoverBorder: #b5b5b5;
//Height
$header-height: 78px;

//Width
$sidebar-width-expanded: 250px;
$sidebar-width-collapsed: 80px;
$offcanvas-width: 300px;

//Transition
$transition-speed: 0.3s;
