@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-primary: 'Inter', sans-serif;

//Font Size
$fs-xs: px-to-rem(8px);
$fs-xm: px-to-rem(11px);
$fs-light: px-to-rem(13px);
$fs-base: px-to-rem(16px);
$fs-sm: px-to-rem(19px);
$fs-md: px-to-rem(23px);
$fs-lg: px-to-rem(28px);
$fs-xl: px-to-rem(40px);
$fs-xxl: px-to-rem(46px);
$fs-big: px-to-rem(70px);

//Font Weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// line-height
$lh-xs: px-to-rem(11px); //font-size 8px
$lh-xm: px-to-rem(15px); //font-size 11px
$lh-light: px-to-rem(17px); //font-size 13px
$lh-light-sm: px-to-rem(18px); //font-size 13px
$lh-base: px-to-rem(21px); //font-size 16px
$lh-base-sm: px-to-rem(24px); //font-size 24px
$lh-sm: px-to-rem(25px); //font-size 19px
$lh-md: px-to-rem(30px); //font-size 23px
$lh-lg: px-to-rem(37px); //font-size 28px
$lh-xl: px-to-rem(53px); //font-size 40px
