.badge {
  border-radius: 4px;
  text-transform: uppercase;
  width: fit-content;
  padding: 3px 5px;
  font-size: 12px;

  &.badge-primary {
    background-color: $blueB300;
    color: $white;
  }

  &.badge-secondary {
    background-color: $greyG75;
    color: $white;
  }
}
