.card-info-list {
  padding: 25px;
  @include flex($align: center, $justify: space-between);
  border-radius: 13px;
  background: $greyG50;
  border: none;
  width: 100%;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  .card-details {
    @include flex($align: center);

    .card-info {
      @include flex;
    }

    .checked-icon {
      margin-right: 28px;
    }

    .card-logo {
      margin-right: 20px;
      position: unset;
      background-color: $white;
      @include flex($align: center, $justify: center);
      width: 50px;
      @include radius(4px);
    }

    .checked-field {
      display: block;
      width: 20px;
      height: 20px;
      background: $white;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .checked-style {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background: $primary;
      }
    }

    .card-bio {
      @include text($fs-light, normal, $greyG300, left);

      p {
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }

  .default-btn {
    .badge {
      padding: 7px 16px;
      border-radius: 23px;
      @include text($fs-light, normal, $greyG300, left);
      border: none;
      color: $white;
      text-transform: none;
    }
  }

  &.credit {
    background: $blueB50;
    border: 1px solid $blueB50;

    &:not(:disabled):hover {
      border: 1px solid $blueB350;
    }

    .card-details {
      .checked-field {
        .checked-style {
          background-color: $blueB300;
        }
      }
    }

    .default-btn {
      .badge {
        background-color: $blueB300;
      }
    }
  }
  &.debit {
    background: $greenG25;
    border: 1px solid $greenG25;

    &:not(:disabled):hover {
      border: 1px solid $greenG300;
    }

    .card-details {
      .checked-field {
        .checked-style {
          background-color: $greenG100;
        }
      }
    }

    .default-btn {
      .badge {
        background-color: $greenG100;
      }
    }
  }
  &.bank {
    background: $brownB100;
    border: 1px solid $brownB100;

    &:not(:disabled):hover {
      border: 1px solid $brownB300;
    }

    .card-details {
      .checked-field {
        .checked-style {
          background-color: $brownB300;
        }
      }
    }

    .default-btn {
      .badge {
        background-color: $brownB300;
      }
    }
  }
}
