.checkbox-container {
  @include flex($align: center);
}

.custom-checkbox {
  @include flex($align: center);
  cursor: pointer;
  font-size: 16px;
  user-select: none;

  input {
    display: none;
  }

  .checkMark {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #afafaf;
    font-size: 14px;
    font-weight: bold;
    margin-right: 8px;
    transition: background 0.2s ease-in-out;
    background-color: transparent;
    color: transparent;

    &.checked,
    &.indeterminate {
      background-color: $brownB300;
      color: $white;
    }
  }
}