.collapse-container {
  border: 1px solid $greyG75;
  border-radius: 5px;
  overflow: hidden;

  .collapse-header {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: $greyG75;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: $greyG300;

    .arrow {
      transition: transform $transition-speed ease;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .collapse-content {
    overflow: hidden;
    transition: max-height $transition-speed ease-in-out;

    &.open {
      max-height: 200px;
    }

    &.close {
      max-height: 0px;
    }

    .content-inner {
      padding: 10px;
      background: white;
    }
  }
}
