.filter-btn {
    height: 100%;
    @include flex($align: center, $justify: center);
}

.dropdown-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.dropdown-panel {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 206px;
    background: $white;
    z-index: 11;
    @include radius(16px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;


    .dropdown-header,
    .dropdown-footer {
        padding: 1rem;
        border-bottom: 1px solid $border;
        @include flex($align: center, $justify: space-between);
    }


    .dropdown-header {
        .dropdown-title {
            @include flex($align: center, $justify: center);
            @include text($size: $fs-xm, $weight: 500, $color: $greyG350);

            span {
                margin-left: 12px;
                width: 24px;
                height: 24px;
                background: $border;
                @include text($size: $fs-xm, $weight: 500, $color: $greyG350);
                @include flex($align: center, $justify: center);
                @include radius(8px)
            }
        }

        button {
            padding: 0;
        }

        h4 {
            @include text($size: $fs-sm, $weight: 400, $color: $greyG350);
        }
    }

    .dropdown-footer {
        border-top: 1px solid $border;
        border-bottom: none;
        gap: 7px;

        button {
            padding: 8px 20px;
            @include text($size: $fs-light, $weight: 500);
            height: auto;
            margin: 0;
            border: 50px;
            text-align: center;

            &.primary-btn {
                color: $white;
            }

            &.back-btn {
                color: $greyG100;
                background: $border;
            }
        }
    }

    .dropdown-body {
        padding: 1rem;
        max-height: 300px;
        overflow-y: auto;
    }

    .filter-group {
        padding: 16px;
        background: $WhiteSmoke;
        @include radius(16px);

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        h6 {
            @include text($size: $fs-base, $weight: 500, $color: $greyG350);
            margin-bottom: 1rem;

        }

        .option-list {
            @include flex($align:center);
            text-transform: capitalize;
            cursor: pointer;
            @include text($size: $fs-light, $weight: 400, $color: $greyG100);

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            &.active {
                color: $greyG300;
            }
        }

        .checkMark {
            @include radius(4px)
        }
    }

    .reset-btn {
        background: none;
        border: none;
        cursor: pointer;
        @include flex($align: center, $justify: center);

        div {
            @include flex($align: center, $justify: center);
        }
    }
}