.info-bar {
  @include radius($radius: $fs-base);
  background-color: rgb(0, 110, 255);
  @include flex($align: center);
  color: $white;
  line-height: 20px;

  svg {
    width: 25px;
    height: 25px;
    padding: 18px 16px;
    @include flex();
  }
  &.warning {
    background-color: $brownB100;
    color: $primary;
    border: 1px solid $brownB55;
  }
  &.error {
    background-color: $linen;
    color: $redR300;
    border: 1px solid $redR50;

    svg {
      path {
        fill: $redR300;
      }
    }
  }
}
