.pre-loader {
  @include flex($align: center, $justify: center);
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #00000033;

  &.inner-loader {
    width: 100%;
    height: 100%;
  }

  .loader-container {
    padding: 20px;
    background: $white;
    border-radius: 20px;
    @include flex($align: center, $justify: center);
  }
}

@include respond(md) {
  .pre-loader {
    &.inner-loader {
      height: calc(100vh - 88px);
    }
  }
}
