.search-field {
  width: 100%;
  display: flex;
  position: relative;

  .search {
    width: 100%;
    padding: 14px;
    padding-left: 42px;
    outline: none;
    position: relative;
    border-radius: 16px;
    border: none;
    background: $white;
    @include text($size: $fs-base, $weight: 400, $align: left, $color: $greyG100);
  }

  .icon {
    position: absolute;
    left: 16px;
    top: 19px;
  }
}
