.table-wrapper {
  overflow-y: hidden;
  @include radius(16px);
  padding-top: 23px;

  .table-container {
    background-color: $white;
    @include radius(16px);
    min-width: 100%;
    overflow: visible;

    .table-body-wrapper {
      padding: 13px 0;
      position: relative;
      z-index: 10;
    }

    .no-more-data {
      min-height: 380px;
      @include flex($align: center, $justify: center);
      @include text($size: $fs-base, $weight: $fw-regular, $align: center, $color: $greyG300);
    }

    .table-body-row {
      &:not(:last-child) {
        .table-body-cell {
          padding-bottom: 13px;
        }
      }

      &:not(:first-child) {
        .table-body-cell {
          padding-top: 13px;
        }
      }

      &.expanded-row {
        .active-row {
          .table-body-cell {
            padding-bottom: 20px;
          }
        }
      }

      &.expanded {
        .table-body {
          &:hover {
            background: $blueB50;
            cursor: pointer;

            .sticky-column {
              background: $blueB50;
            }
          }
        }
      }
    }

    .sticky-column {
      position: sticky;
      z-index: 2;
    }

    .table-header {
      border-bottom: 1px solid $greyG75;
      @include flex;

      .table-header-cell {
        padding: 26px 20px;
        font-size: $fs-base;
        font-weight: $fw-medium;
        color: $primary;
        border-top-left-radius: 16px;
        box-sizing: border-box;
        &.expanded-arrow {
          width: 67px;
        }

        &:first-child {
          padding-left: 32px;
        }

        &:last-child {
          padding-right: 32px;
        }

        .cell {
          @include flex;

          &.sortIcon {
            cursor: pointer;
          }

          .sort-icon {
            width: 15px;
            @include flex;
            margin-left: 15px;
          }
        }
      }

      .sort-icon {
        margin-left: 4px;
      }
    }

    .table-body {
      border: 1px solid light$greyG75;
      @include flex();
      position: relative;
      color: $greyG300;
      z-index: 0;
      border-bottom-left-radius: 16px;

      .active-arrow {
        width: 67px;

        svg {
          transform: rotate(0deg);
        }

        &.active {
          svg {
            transform: rotate(180deg);
          }
        }
      }

      &.active-row {
        z-index: 1;
      }

      &:last-child {
        .table-body-cell {
          &:first-child {
            border-bottom-left-radius: 16px;
          }
        }
      }

      .table-body-cell {
        padding: 13px 20px 0 20px;
        @include flex($align: center);
        font-size: $fs-light;
        line-height: 20px;
        box-sizing: border-box;
        .cell {
          @include flex;
        }

        &:first-child {
          padding-left: 32px;
        }

        &:last-child {
          padding-right: 32px;
        }
      }

      .table-body-expanded {
        text-align: left;
        padding: 10px;
        border: 1px solid light$greyG75;
        margin: 15px 0;
        transition: 400ms ease-in-out;
      }
    }
  }
}

.table-filter {
  @include flex;
  gap: 14px;

  button {
    padding: 14px;
    outline: none;
    @include radius(13px);
    background: $white;
    border: none;
    cursor: pointer;
    display: flex;
    &.filter-btn {
      padding: 12px;
    }

    &:hover {
      svg {
        fill: $primary;
      }

      path {
        fill: $primary;
      }
    }
  }

  .date-picker-wrapper {
    .input-label {
      &.input-focused {
        display: none;
      }
    }

    .calendar-icon {
      height: 50px;
    }

    .date-input {
      height: 50px;
      border-color: $white;
    }
  }
}

.table-footer {
  @include flex();
  padding-top: 23px;

  &.center {
    justify-content: center;
  }

  &.between {
    justify-content: space-between;
  }

  .data-per-page {
    @include flex($align: center);
    gap: 10px;
  }
}

.dropdown {
  width: 66px;
  height: 34px;
  position: relative;

  .dropdown-toggle {
    @include flex($justify: space-between);
    text-align: left;
    width: 100%;
    background: $textWhite;
    border: 1px solid $greyG75;
    color: $greyG300;
    padding: 5px 10px;
  }

  .list-wrapper {
    position: absolute;
    width: 100%;
    margin-top: 4px;
    background-color: $textWhite;
    overflow-x: auto;
    z-index: 10;
    border: 1px solid $greyG75;

    .list-item {
      text-align: center;
      font-size: 14px;
      padding: 4px 0;
      cursor: pointer;

      &:hover {
        background-color: $greyG75;
      }

      &.active {
        background-color: $greyG75;
      }
    }
  }
}

.pagination {
  @include flex($align: center, $justify: space-between);
  width: 100%;

  &.flex-end {
    justify-content: flex-end;
  }

  .chevron {
    width: 34px;
    height: 34px;
    border: none;
    @include flex($justify: center, $align: center);
    cursor: pointer;
    background: $greyG100;
    padding: 0;
    @include radius(8px);

    &:not(:last-child) {
      margin: 0 5px;
    }

    &.disabled {
      opacity: 0.6;
      cursor: no-drop;
    }

    &:not(.disabled) {
      &:hover {
        background: $orangeO100;
      }
    }
  }

  .pageInfo {
    @include text($size: $fs-light, $weight: $fw-medium, $align: center, $color: $greyG300);
    margin: 0 20px;
  }

  .pageText {
    width: 32px;
    height: 32px;
    @include flex($justify: center, $align: center);
    border: none;
    background: $white;
    @include text($size: $fs-light, $weight: $fw-medium, $align: center, $color: $greyG300);
    @include radius(8px);
    outline: none;
    margin-right: 4px;

    &:focus {
      outline: none;
    }
  }

  .pagination-info {
    @include flex($align: center, $justify: center);
  }

  .page-info {
    @include flex($align: center, $justify: center);
    @include text($size: $fs-light, $weight: $fw-medium, $color: $greyG100);

    span {
      color: $greyG300;
    }
  }

  .pagination-numbers {
    @include flex($align: center, $justify: center);

    button {
      padding: 0;
      margin: 0 8px;
      border: none;
      @include text($size: $fs-light, $weight: $fw-medium, $color: $greyG100);
      @include flex($align: center, $justify: center);
      cursor: pointer;

      &.active {
        padding: 6px 12px;
        background: $white;
        color: $greyG300;
        width: 34px;
        height: 34px;
        @include radius(8px);
      }

      &:hover {
        color: $primary;
      }
    }

    .dots {
      height: 34px;
      width: 15px;
      @include flex($align: center, $justify: center);
      position: relative;

      span {
        position: absolute;
        top: 5px;
      }
    }
  }
}

.sticky-column {
  position: sticky;
  background: $white;
  left: 0;
  z-index: 10;
  padding-right: 10px;
}

.spin-slow {
  animation: spin 0.8s linear;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@include respond(620px) {
  .pagination {
    flex-direction: column;

    .pagination-info {
      margin-bottom: 20px;
    }
  }
}

@include respond(620px) {
  .pagination {
    .chevron {
      width: 28px;
      height: 28px;
    }

    .pagination-numbers {
      button {
        margin: 0 5px;
      }
    }
  }
}
