.form-control {
  position: relative;
  margin-bottom: 25px;
  width: 100%;

  textarea {
    font-family: $font-primary;
    @include webkitWidth;
    height: 30px;
    padding: 9px 16px;
    font-size: $fs-base;
    color: $greyG300;
    background: transparent;
    border: 1px solid $greyG100;
    @include radius(10px);
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    resize: none;
    min-height: 55px;

    &.field-error {
      border: 1px solid $redR300;
    }

    &::placeholder {
      color: transparent;
    }

    &:focus {
      border: 1px solid $primaryDark;
    }
 
  }
 

  textarea:focus ~ label,
  textarea:not(:placeholder-shown) ~ label {
    top: 0px;
    left: 12px;
    font-size: $fs-light;
    background: $white;
    color: $primaryDark;

    span {
      visibility: visible;
    }
  }   
}
 

 
 
 
 
