.toggle-container {
    @include flex($justify: center, $align: center);
    gap: 8px;

    .toggle-label {
        font-weight: $fw-medium;
        color: $greyG100;
    }

    .toggle-button {
        width: 50px;
        height: 31px;
        @include radius(20px);
        position: relative;
        cursor: pointer;
        transition: background 0.3s;
        border: none;
        outline: none;

        &.checked {
            background: $greenG300;
        }

        &.unchecked {
            background: $redR300;
        }

        .toggle-circle {
            width: 27px;
            height: 27px;
            background: $white;
            @include radius(50%);
            position: absolute;
            top: 2px;
            transition: left 0.3s;

            &.checked {
                left: 21px;
            }

            &.unchecked {
                left: 2px;
            }
        }
    }
}