.profile-container {
  position: relative;

  button {
    background: transparent;
    border: 0;
  }

  .profile {
    @include flex();
    gap: 13px;
    cursor: pointer;

    .arrow-icon {
      @include flex($align: center, $justify: center);
      flex-direction: column;
      margin-left: 10px;

      div {
        @include flex($align: center, $justify: center);

        &:first-child {
          transform: rotate(180deg);
          margin-bottom: 7px;
        }
      }
    }

    .avatar {
      width: 40px;
      height: 40px;
      background-color: $blueB50;
      color: $blueB300;
      font-weight: $fw-bold;
      font-size: $fs-sm;
      @include flex($align: center, $justify: center);
      @include radius(50%);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .profile-info {
      @include radius(10px);
      @include flex($align: flex-start, $justify: center, $direction: column);

      &p {
        margin: 0;
      }

      .profile-name {
        font-size: $fs-base;
        font-weight: $fw-medium;
        color: $greyG300;
      }

      .profile-role {
        font-size: $fs-xm;
        color: $grey150;
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 170px;
    background: $white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    @include radius(8px);
    padding: 5px 0;
    z-index: 11;

    .dropdown-item {
      padding: 13px 18px;
      cursor: pointer;
      font-size: $fs-light;
      @include flex($align: center);
      gap: 15px;
      width: 100%;

      &:hover {
        color: $blueB300;
        background-color: $blueB50;
      }
    }
  }
}

// profile upload component
.profile-header {
  @include flex($direction: column, $justify: center, $align: center);
  gap: 10px;

  .remove {
    margin-bottom: 5px;
    border: 0;
    background: transparent;
    color: $blueB300;
    position: relative;
    top: -5px;
    cursor: pointer;
    font-weight: $fw-semibold;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }

    &:disabled {
      opacity: 0.4;
    }
  }

  h3 {
    color: $greyG300;
    font-weight: $fw-bold;
    font-size: $fs-sm;
  }

  p {
    color: $greyG100;
    font-size: $fs-light;
  }

  .profile-image-container {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;

    img {
      width: 100%;
      height: 100%;
      @include radius(50%);
      border: 2px solid $greyG75;
      object-fit: cover;
    }

    .profile-placeholder {
      width: 100%;
      height: 100%;
      padding: 0;
      @include radius(50%);
      background: $primary;
      border: 0;
      @include flex($justify: center, $align: center);
      color: $white;
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;

      .close {
        position: relative;
        height: 100%;
        width: 100%;
        @include flex($align: center, $justify: center);
        cursor: pointer;
      }
    }

    .camera-icon {
      position: absolute;
      border: 3px solid $white;
      position: absolute;
      bottom: 0%;
      right: -8px;
      background: $primary;
      width: 28px;
      height: 28px;
      @include flex($justify: center, $align: center);
      @include radius(50%);
      cursor: pointer;

      &:focus-within {
        outline: 3px solid $blueB350;
      }

      &.uploading {
        cursor: default;
      }

      svg {
        width: 16px;
        height: 16px;
      }

      input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: -1;
      }

      .pre-loader {
        background: transparent;

        .loader-container {
          padding: 2px;
        }
      }
    }

    &.profile-opened {
      position: unset;

      .profile-placeholder {
        position: fixed;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        left: 0;
        top: 0;
        z-index: 100;
        background: $black;

        .close {
          height: 50vh;
          cursor: default;
          width: auto;

          &.initial {
            width: 100%;
            max-width: 600px;
            background: $primary;
            font-size: $fs-big;
            @include radius(14px);
          }

          button {
            position: absolute;
            right: 0;
            top: 0;
            width: 30px;
            height: 30px;
            padding: 0;
            background: $redR300;
            color: $white;
            font-size: $fs-md;
            border: 0;
            @include radius(50%);
            cursor: pointer;
          }
        }
      }

      img {
        height: 50vh;
        border: 0;
        max-width: 600px;
        @include radius(14px);
      }
    }
  }
}
