.payment-card {
  min-width: 315px;
  height: 153px;
  @include radius($fs-base);
  @include flex($direction: column, $justify: space-between);
  padding: 16px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .user-name {
    @include text($size: $fs-xm, $color: $white, $weight: $fw-semibold);
    line-height: 15px;
    letter-spacing: 3.33px;
    margin-bottom: 6px;
    max-width: 133px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
  }

  .card-num {
    @include text($size: $fs-light, $color: $white, $weight: $fw-bold);
    height: 18px;
    line-height: 17px;
  }

  .card-more-info-wrap {
    @include flex($direction: row, $align: center, $justify: space-between);

    &.account {
      @include flex($justify: flex-end);
    }

    .view-details-btn {
      @include text($size: $fs-light, $color: $white, $weight: $fw-regular);
      padding: 3.5px 13px;
    }

    .default-style {
      border: 1px solid $white;
      padding: 3px 13px;
      @include radius(25px);
      @include text($size: $fs-light, $weight: $fw-regular, $color: $white);
      line-height: $lh-light;
    }

    .expiry-date {
      font-size: $fs-xm;
      color: $white;

      .date {
        font-weight: $fw-semibold;
        margin-top: 5px;
      }
    }
  }
}

.ach-card-bg {
  @include common-gradient($orangeO350, $orangO200, 107.81deg);
}

.credit-card-bg {
  @include common-gradient($blueB350, $blueB150, 90deg);
}

.debit-card-bg {
  @include common-gradient($greenG150, $greenG75, 90deg);
}

.ach-info-details {
  @include flex($direction: column, $align: center, $justify: center);
  gap: 32px;
  padding: 32px 50px;

  h3 {
    @include text($size: $fs-md, $color: $brownB300, $weight: $fw-bold);
    height: 25px;
    margin-bottom: 11px;
    line-height: 30px;
  }

  .message {
    width: 290px;
    text-align: center;
    line-height: $lh-sm;
  }

  .card-btn-sec {
    width: 440px;
    padding-top: 30px;
    @include flex($direction: column, $align: center, $justify: center);
    gap: 10px;
  }
}
