.approvals-wrapper {
  .over-view {
    @include flex;
  }

  p {
    @include text($size: $fs-light, $weight: $fw-regular, $color: $greyG300);

    &.landlord-address {
      color: $greyG100;

      &.email-address {
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.approvals-details {
  .card-body {
    padding: 34px 32px;
  }

  .skeleton {
    margin-top: 6px;
  }

  .info-text {
    @include text($size: $fs-xm, $weight: $fw-regular, $color: $greyG100);
    line-height: $lh-sm;
    background: transparent;
    padding: 0;
    @include flex($align: center);

    span {
      margin-right: 5px;
    }
  }

  .landlord-card {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    .secondary-btn {
      @include text($size: $fs-base, $weight: $fw-regular, $color: $greyG100);
      padding: 12px 14px;
      max-height: 40px;
      border: 1px solid $greyG100;
      background: transparent;
    }
  }

  .landlord-section {
    @include flex($justify: space-between);
    gap: 30px;
  }

  .landlord-info {
    @include flex($align: center);
    gap: 16px;

    .status-badge {
      margin-top: 10px;
    }

    .profile {
      width: 50px;
      height: 50px;
      @include radius(50%);
      background: $brownB55;
      @include flex($justify: center, $align: center);
      overflow: hidden;

      p {
        @include text($size: $fs-sm, $weight: $fw-bold, $color: $primary);
        line-height: $lh-sm;
      }

      img {
        width: 100%;
      }
    }
  }

  p {
    @include text($size: $fs-base, $weight: $fw-regular, $color: $greyG300);
  }

  h6 {
    @include text($size: $fs-md, $weight: $fw-bold, $color: $greyG300);
    line-height: $lh-md;
  }

  .verified-status-label {
    margin-top: 6px;
  }

  .phone-label {
    span {
      @include text($size: $fs-base, $weight: $fw-bold, $color: $greyG300);
      line-height: $lh-base;
    }
  }

  .verifiedIcon {
    margin-right: 8px;
  }

  .address-info {
    max-width: 300px;

    .info {
      font-weight: $fw-bold;
      margin-top: 6px;
      line-height: 17px;
    }
  }

  .account-status {
    @include flex($justify: space-between, $align: right);
    flex-direction: column;

    .status-label {
      text-align: right;
      margin-bottom: 6px;
    }
  }

  .tenant-details-section {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    .approval-card {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    .approval-form {
      .approval-card-header {
        @include flex($justify: space-between, $align: center);

        .review-count {
          background: $brownB55;
          color: $primary;
          padding: 16px;
          max-height: 40px;
          @include radius(25px);
        }
      }
    }
  }

  .tenant-details {
    .landlord-info {
      padding-bottom: 30px;
      border-bottom: 1px solid $greyG75;
    }

    .landlord-details {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }

  .card-info-list {
    &.bank {
      background: $brownB55;
    }

    .card-bio {
      p {
        @include text($size: $fs-light, $weight: $fw-regular, $color: $greyG300);
        text-transform: capitalize;

        &:nth-child(2) {
          font-weight: $fw-medium;
        }
      }
    }
  }

  .approval-pay-type {
    @include flex;

    .status-bar {
      margin-top: 8px;
      padding: 9px 13px;
      background: $greyG50;
    }

    .pay-type-info {
      width: 350px;
      margin-right: 28px;

      span {
        text-transform: capitalize;
      }
    }

    .pay-type-description {
      p {
        @include text($size: $fs-base, $weight: $fw-regular, $color: $greyG300);
        line-height: $lh-base;
      }
    }
  }

  .no-data {
    min-height: 200px;
    @include flex($justify: center, $align: center);
  }

  .approval-item {
    padding: 16px;
    @include radius(13px);

    h6 {
      @include text($size: $fs-base, $weight: $fw-medium, $color: $greyG300);
      line-height: $lh-sm;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .approval-item-info {
      @include flex($justify: space-between, $align: center);
    }

    button {
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 9px;
      }
    }

    .action-buttons {
      @include flex($justify: center, $align: center);

      button {
        width: 24px;
        height: 27px;
      }
    }

    .label {
      @include text($size: $fs-light, $weight: $fw-regular, $color: $greyG300);
      line-height: $lh-light;
    }

    .label-skeleton {
      margin-bottom: 4px;
    }

    .action-buttons {
      .button-skeleton {
        &:first-child {
          margin-right: 6px;
        }
      }
    }

    &.edit {
      background: $greyG50;

      button {
        path {
          fill: $greyG100;
        }
      }
    }

    &.accepted {
      background: $greenG25;
      @include radius(13px);

      button {
        &:first-child {
          path {
            fill: $greenG300;
          }
        }

        &:last-child {
          path {
            fill: $greyG75;
          }
        }
      }
    }

    &.rejected {
      padding: 0;
      border: 1px solid $greyG75;
      overflow: hidden;

      .approval-item-info {
        padding: 16px;
        background: $redR50;
      }

      .reject-reason {
        padding: 32px 28px;

        .form-control {
          margin: 0;
        }
      }
    }

    .last-action {
      margin-top: 20px;
      .label {
        color: $redR300;
      }
    }
  }

  .approval-action {
    margin-top: 30px;

    .card-body {
      @include flex($justify: space-between, $align: center);
      gap: 40px;
    }

    .form-action {
      @include flex($justify: center, $align: center);
      gap: 16px;

      .primary-btn {
        width: 208px;
      }

      .secondary-btn {
        width: 161px;
        border: 1px solid $primary;
        color: $primary;
        background: transparent;
      }
    }
  }

  .comments-section {
    width: 100%;
    max-width: 420px;

    .form-control {
      margin: 0;
    }
  }
}

.approval-card {
  .card-body {
    padding: 0;

    .approval-card-header {
      padding: 22px 34px;
      border-bottom: 1px solid $greyG75;

      h6 {
        @include text($size: $fs-sm, $weight: $fw-medium, $color: $greyG300);
        line-height: $lh-sm;
      }
    }

    .approval-card-body {
      padding: 28px 40px;
    }
  }
}

@include respond(1350px) {
  .approvals-details {
    .landlord-section {
      flex-wrap: wrap;

      .landlord-info {
        width: calc(50% - 30px);

        &:nth-child(2n) {
          @include flex($justify: flex-end);
        }
      }
    }
  }
}

@include respond(1200px) {
  .approvals-details {
    .tenant-details-section {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@include respond(850px) {
  .approvals-details {
    .approval-action {
      .card-body {
        flex-direction: column;
      }
    }
  }
}
