.dashboard-wrapper {
  .form-control {
    margin-bottom: unset;

    .react-select__control {
      width: 180px;
    }
  }

  .view-more {
    @include flex($align: center, $justify: center);

    p {
      @include text($size: $fs-base, $weight: $fw-semibold, $color: $greyG300, $align: center);

      &:hover {
        text-decoration: underline;
        color: $blueB300;
      }
    }

    line-height: 23px;
    cursor: pointer;
    padding-block: 16px;
  }

  .chart-header {
    @include flex($justify: space-between, $align: stretch, $wrap: nowrap);

    .date-range-wrapper {
      position: relative;

      .error-msg {
        font-size: $fs-xm;
        position: absolute;
        line-height: $lh-xm;
        color: $redR300;
        margin-top: 5px;
      }
    }
  }

  .stats-label {
    @include text($size: $fs-base, $color: $greyG100);
    line-height: 20px;
  }

  .stats-header {
    @include text($size: $fs-sm, $weight: $fw-semibold, $color: $yankeesBlue);
    line-height: 28px;
  }

  .sec-two {
    margin-bottom: 25px;
    @include flex($justify: space-between, $align: stretch, $wrap: nowrap);
    gap: 25px;
    position: relative;

    .transaction-graph-wrapper {
      width: 100%;
      background: $white;
      padding: 24px;
      @include radius(16px);

      .chart-wrapper {
        height: 100%;
      }

      .transaction-graph {
        max-height: 422px;
        @include flex($direction: column, $align: center, $justify: center);
        position: relative;
        height: 100%;

        .custom-legend {
          @include flex($align: center, $justify: space-between);
          gap: 26px;

          .divider {
            @include flex($align: center, $justify: space-between);
            gap: 9px;
          }

          .failed-dot {
            width: 9px;
            height: 9px;
            background: $redR300;
            display: block;
            @include radius(28px);
          }

          .success-dot {
            width: 9px;
            height: 9px;
            background: $greenG300;
            display: block;
            @include radius(28px);
          }

          .p {
            @include text($size: $fs-light, $weight: normal, $color: $greyG300, $align: left);
            line-height: 22px;
          }
        }
      }
    }

    .total-summary-card {
      min-width: 730px;
    }

    .transaction-chart {
      width: 100%;
      max-width: 400px;
      background: $white;
      padding: 24px;
      @include radius(16px);

      .chart {
        margin-block: 48px;
        @include flex($align: center, $justify: center);
        position: relative;

        .pie-parent {
          width: 300px;
          height: 200px;
        }

        .content {
          position: absolute;
          width: 82px;
          text-align: center;

          .label {
            @include text(
              $size: $fs-light,
              $weight: $fw-medium,
              $color: $sonicSilver,
              $align: center
            );
            line-height: 17px;
          }

          .value {
            @include text(
              $size: $fs-lg,
              $weight: $fw-semibold,
              $color: $darkCharcoal,
              $align: center
            );
            margin-top: 4px;
          }
        }
      }

      .card-types {
        @include flex($justify: space-between, $align: stretch, $wrap: nowrap);
        gap: 12px;

        .cc {
          width: 100px;
          background: $blueB50;
          @include radius(16px);
          padding: 16px;
          @include flex($align: baseline);
          gap: 7px;

          .dot {
            width: 9px;
            height: 9px;
            background: $blueB300;
            display: block;
            @include radius(28px);
          }

          .label {
            @include text($size: $fs-light, $weight: normal, $color: $greyG300, $align: left);
            line-height: 22px;
          }

          .value {
            margin-top: 7px;
            @include text($size: $fs-base, $weight: $fw-bold, $color: $blueB300, $align: left);
          }
        }

        .dc {
          width: 100px;
          background: $greenG25;
          @include radius(16px);
          padding: 16px;
          @include flex($align: baseline);
          gap: 7px;

          .dot {
            width: 9px;
            height: 9px;
            background: $greenG300;
            display: block;
            @include radius(28px);
          }

          .label {
            @include text($size: $fs-light, $weight: normal, $color: $greyG300, $align: left);
            line-height: 22px;
          }

          .value {
            margin-top: 7px;
            @include text($size: $fs-base, $weight: $fw-bold, $color: $greenG300, $align: left);
          }
        }

        .ach {
          width: 100px;
          background: $brownB100;
          @include radius(16px);
          padding: 16px;
          @include flex($align: baseline);
          gap: 7px;

          .dot {
            width: 9px;
            height: 9px;
            background: $brownB300;
            display: block;
            @include radius(28px);
          }

          .label {
            @include text($size: $fs-light, $weight: normal, $color: $greyG300, $align: left);
            line-height: 22px;
          }

          .value {
            margin-top: 7px;
            @include text($size: $fs-base, $weight: $fw-bold, $color: $brownB300, $align: left);
          }
        }
      }
    }
  }

  .sec-three {
    @include flex;
    gap: 24px;

    .user-chart-wrapper {
      width: 100%;
      background: $white;
      padding: 24px;
      @include radius(16px);

      .chart-wrapper {
        height: 100%;
        @include flex($justify: space-between, $direction: column);
      }

      .user-chart {
        margin-block: 41px;
        @include flex($align: center, $justify: center);
        position: relative;

        .content {
          position: absolute;
          width: 82px;
          text-align: center;

          .label {
            @include text(
              $size: $fs-light,
              $weight: $fw-medium,
              $color: $sonicSilver,
              $align: center
            );
            line-height: 17px;
          }

          .value {
            @include text(
              $size: 32px,
              $weight: $fw-semibold,
              $color: $darkCharcoal,
              $align: center
            );
            margin-top: 4px;
          }
        }
      }

      .card-types {
        @include flex($justify: space-between, $align: stretch, $wrap: nowrap);
        gap: 12px;

        .verified {
          width: 100%;
          background: $greenG25;
          @include radius(16px);
          padding: 16px;
          @include flex($align: baseline);
          gap: 7px;

          .dot {
            width: 9px;
            height: 9px;
            background: $redR300;
            display: block;
            @include radius(28px);
          }

          .label {
            @include text($size: $fs-light, $weight: normal, $color: $greyG300, $align: left);
            line-height: 22px;
          }

          .value {
            margin-top: 7px;
            @include text($size: $fs-base, $weight: $fw-bold, $color: $redR300, $align: left);
          }
        }

        .un-verified {
          width: 100%;
          background: $linen;
          @include radius(16px);
          padding: 16px;
          @include flex($align: baseline);
          gap: 7px;

          .dot {
            width: 9px;
            height: 9px;
            background: $greenG300;
            display: block;
            @include radius(28px);
          }

          .label {
            @include text($size: $fs-light, $weight: normal, $color: $greyG300, $align: left);
            line-height: 22px;
          }

          .value {
            margin-top: 7px;
            @include text($size: $fs-base, $weight: $fw-bold, $color: $greenG300, $align: left);
          }
        }
      }
    }

    .recent-activity-wrapper {
      background: $white;
      width: 100%;
      @include radius(16px);
      padding: 24px;
      @include flex($direction: column);
      gap: 10px;

      .view-more {
        padding-bottom: 0;
      }

      .no-more {
        width: 100%;
        height: 100%;
        @include flex($align: center, $justify: center);
      }

      .activity-header {
        @include text($size: $fs-md, $weight: $fw-semibold, $color: $greyG300);
        line-height: 23px;
        margin-bottom: 20px;
      }

      .activity-block {
        padding: 16px;
        border: 1px solid $greyG50;
        @include radius(16px);
        @include flex($align: center);
        gap: 10px;

        .image-wrapper {
          height: 38px;
          width: 38px;
          background: $brownB100;
          @include radius(50px);
          @include flex($align: center, $justify: center);

          img {
            height: 38px;
            width: 38px;
            @include radius(50px);
            object-fit: cover;
          }

          p {
            @include text($size: $fs-sm, $weight: $fw-semibold, $color: $primary);
          }
        }

        .activity {
          @include flex($direction: column, $align: flex-start);
          gap: 10px;

          p:first-child {
            @include text($size: $fs-light, $weight: normal, $color: $greyG300);
            line-height: 15px;
          }

          p:last-child {
            @include text($size: $fs-xm, $weight: normal, $color: $greyG100);
            line-height: 17px;
          }
        }
      }
    }
  }

  .sec-four {
    margin-top: 24px;
    background: $white;
    padding: 15px;
    @include radius(16px);

    .recent-transaction-header {
      @include flex($align: center, $justify: space-between);
      padding: 20px;

      .title {
        @include text($size: $fs-sm, $weight: $fw-semibold, $color: $greyG300);
        line-height: 23px;
      }

      button {
        background: transparent;
        border: none;

        &:hover {
          path {
            fill: $primary;
          }
        }
      }

      svg {
        cursor: pointer;
        transition: transform 0.5s ease;

        &.rotate-once {
          animation: spin-slow 0.8s linear;
        }
      }
    }

    .table-header {
      background: $brownB100;
    }
  }

  @include respond(lg) {
    .sec-two {
      .total-summary-card {
        min-width: unset;
        width: 100%;
      }

      .transaction-chart {
        max-width: 100%;
      }
    }

    .sec-three {
      flex-direction: column;

      .user-chart-wrapper,
      .transaction-graph-wrapper,
      .recent-activity-wrapper {
        width: auto;
      }
    }
  }

  @include respond(md) {
    .sec-two {
      flex-wrap: wrap;

      .total-summary-card {
        min-width: unset;
      }
    }
  }

  @include respond(sm) {
    .sec-two {
      flex-wrap: wrap;

      .total-summary-card {
        min-width: unset;
      }
    }
  }

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
