.debit-card-screen-wrapper {
  .card-option-sec {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
    button {
      max-width: 150px;
      height: 45px;
    }
  }

  .category {
    padding: 2px 16px;
    min-width: 93px;
    background: $greyG10;
    line-height: 22px;
    @include radius(32px);
    @include text($size: $fs-light, $weight: $fw-medium, $align: center);
  }
  .categoryTypeOne {
    @include text($size: $fs-light, $weight: $fw-medium, $align: center, $color: $greenG300);
    background: $greenG25;
  }
}
