.admin-layout {
  display: flex;
  position: relative;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  overflow: hidden;

  main.content {
    background: $greyG50;
    height: calc(100vh - $header-height);
    overflow-y: auto;

    .children {
      position: relative;
      padding: 30px;
      min-height: -webkit-fill-available;
    }
  }
}