.over-view {
  display: flex;
  margin-bottom: 25px;
}

.over-view-card {
  width: 100%;
  padding: 20px;
  @include radius(16px);
  @include flex($align: center, $justify: start);
  background: $white;

  .icon {
    width: 38px;
    height: 38px;
    @include flex($align: center, $justify: center);
    @include radius(50%);
    margin-right: 16px;
  }

  p {
    @include text($size: $fs-light, $weight: $fw-medium, $color: $greyG100);
    line-height: 22px;
    margin-bottom: 8px;
  }

  h6 {
    @include text($size: $fs-md, $weight: $fw-bold, $color: $greyG300);
    line-height: 22px;
  }

  &:not(:last-child) {
    margin-right: 16px;
  }

  &.info {
    .icon {
      background: $blueB50;
    }
  }

  &.sucess {
    .icon {
      background: $greenG25;
    }
  }

  &.progress {
    .icon {
      background: $brownB100;
    }
  }

  &.filed {
    .icon {
      background: $orangeO50;
    }

    &.info {
      .icon {
        background: $blueB50;
      }
    }

    &.sucess {
      .icon {
        background: $greenG25;
      }
    }

    &.progress {
      .icon {
        background: $brownB100;
      }
    }

    &.filed {
      .icon {
        background: $orangeO50;
      }
    }
  }
}

@include respond(920px) {
  .over-view {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px !important;
    .over-view-card {
      width: auto;
      margin: 0;
    }
  }
}

@include respond(550px) {
  .over-view {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
