.verified-status-label {
    @include flex($align: center);
    flex-direction: row !important;

    &.status-bar {
        display: inline-flex;
        padding: 5px 8px;
        @include radius(14px);

        &.active {
            background: $greenG50;
        }

        &.inactive {
            background: $brownB100;
        }
    }
}